<style>
#rp-names-form input[type="number"].custom-size {
  width: calc(3ch + 16px);
  border-radius: 10px;
}

#rp-names-form .customType,
#rp-names-form .genre {
  width: 200px;
  border-radius: 10px;
}

#rp-names-form .form-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.8em;
  margin-bottom: 10px;
  background-color: #fcfaff;
  border: 1px solid #6633cc;
  color: #b775eb;
  border-radius: 10px;
  padding: 10px;
}

#rp-names-form .form-group label {
  flex-grow: 1;
  text-align: left;
  font-weight: bold;
  font-style: italic;
  font-size: 1.2em;
}

#rp-names-form .form-group input,
#rp-names-form .form-group select {
  margin-left: auto;
  color: #fcfaff;
  background-color: #6633cc;
  border: 1px solid #4007b1;
  border-radius: 10px;
}

#rp-names-form .form-group.radio-group label {
  text-align: left;
}

#rp-names-form .form-group.radio-group input[type="radio"] {
  margin-right: 5px;
}

#rp-names-form .form-group.column {
  flex-basis: 48%;
}

#custom_name_format {
  cursor: move;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-group-item {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  flex-grow: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6633cc;
  background-color: #b775eb;
  border: 1px solid #6633cc;
}

#rp-names-form .input-wrapper .number-input {
  width: 50px; /* Set a fixed width for number input fields */
  text-align: center;
  color: #fcfaff;
  background-color: #6633cc;
  border: 1px solid #b775eb;
  border-radius: 10px;
}

#rp-names-form .input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* This will center the children elements */
  text-align: center;
  width: 150px; /* Set a fixed width */
}

/* Custom checkbox */
#rp-names-form input[type="checkbox"] {
  appearance: none;
  background-color: #b775eb;
  border: 1px solid #6633cc;
  border-radius: 0;
  width: 12px;
  height: 16px;
  position: relative;
}

#rp-names-form input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #6633cc;
  opacity: 0;
  transition: opacity 0.2s ease;
}

#rp-names-form input[type="checkbox"]:checked:before {
  opacity: 1;
}

.custom-select {
  position: relative;
}

.custom-select input[type="text"] {
  padding-right: 20px; /* Adjust as needed */
}

.custom-select datalist {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fcfaff;
  border: 1px solid #6633cc;
  color: #b775eb;
  border-radius: 10px;
}

</style>

<div id="rp-names-form">
<div class="form-group" id="naming-method-group" title="{{localize 'CONFIG.NAMING_METHOD_HINT'}}">
  <label>{{localize "CONFIG.NAMING_METHOD"}}:</label>
  <select name="rpNamingMethod">
    <option value="rpProperAi" {{#if (eq 'rpProperAi' rpDefaultOptions.rpNamingMethod)}}selected{{/if}}>{{localize "CONFIG.NAMING_METHOD_CHOICES.PROPER_AI"}}</option>
    <option value="rpAdjectiveAi" {{#if (eq 'rpAdjectiveAi' rpDefaultOptions.rpNamingMethod)}}selected{{/if}}>{{localize "CONFIG.NAMING_METHOD_CHOICES.ADJECTIVE_AI"}}</option>
    <option value="rpProper" {{#if (eq 'rpProper' rpDefaultOptions.rpNamingMethod)}}selected{{/if}}>{{localize "CONFIG.NAMING_METHOD_CHOICES.PROPER"}}</option>
    <option value="rpAdjective" {{#if (eq 'rpAdjective' rpDefaultOptions.rpNamingMethod)}}selected{{/if}}>{{localize "CONFIG.NAMING_METHOD_CHOICES.ADJECTIVE"}}</option>
    <option value="rpNumbered" {{#if (eq 'rpNumbered' rpDefaultOptions.rpNamingMethod)}}selected{{/if}}>{{localize "CONFIG.NAMING_METHOD_CHOICES.NUMBERED"}}</option>
    <option value="rpNone" {{#if (eq 'rpNone' rpDefaultOptions.rpNamingMethod)}}selected{{/if}}>{{localize "CONFIG.NAMING_METHOD_CHOICES.NONE"}}</option>
  </select>
</div>

<div id="proper-ai" {{#unless (eq rpDefaultOptions.rpNamingMethod 'rpProperAi')}}style="display: none;"{{/unless}}>
<div class="form-group" title="{{localize 'CONFIG.GENRE_HINT'}}">
  <label>{{localize "CONFIG.GENRE"}}:</label>
  <div class="custom-select">
    <input type="text" name="rpGenrerpProperAi" class="rpGenre" list="rpGenreProperAiList" autocomplete="on" value="{{rpDefaultOptions.rpProperAi.rpGenre}}">
    <datalist id="rpGenreProperAiList">
      {{#each (rpGetGenres)}}
        <option value="{{this.value}}">{{localize this.label}}</option>
      {{/each}}
    </datalist>
  </div>
</div>

<div class="form-group" title="{{localize 'CONFIG.LANGUAGE_HINT'}}">
  <label>{{localize "CONFIG.LANGUAGE"}}:</label>
  <div class="custom-select">
    <input type="text" name="rpLanguagerpProperAi" class="rpLanguage" list="rpLanguageProperAiList" autocomplete="on" value="{{rpDefaultOptions.rpProperAi.rpLanguage}}">
    <datalist id="rpLanguageProperAiList">
      {{#each (rpGetLanguages)}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </datalist>
  </div>
</div>

<div class="form-group" title="{{localize 'CONFIG.GENDER_HINT'}}">
  <label>{{localize "CONFIG.GENDER"}}:</label>
  <div class="custom-select">
    <input type="text" name="rpGenderrpProperAi" class="rpGender" list="rpGenderProperAiList" autocomplete="on" value="{{rpDefaultOptions.rpProperAi.rpGender}}">
    <datalist id="rpGenderProperAiList">
      <option value="any gender">{{localize "CONFIG.GENDER_CHOICES.ANY"}}</option>
      <option value="female">{{localize "CONFIG.GENDER_CHOICES.FEMALE"}}</option>
      <option value="male">{{localize "CONFIG.GENDER_CHOICES.MALE"}}</option>
      <option value="nonbinary">{{localize "CONFIG.GENDER_CHOICES.NONBINARY"}}</option>
    </datalist>
  </div>
</div>

<div class="form-group" title="{{localize 'CONFIG.NAME_BASE_HINT'}}">
  <label>{{localize "CONFIG.NAME_BASE"}}:</label>
  <select name="rpNameBaserpProperAi">
    <option value="rpCreature" {{#if (eq 'rpCreature' rpDefaultOptions.rpProperAi.rpNameBase)}}selected{{/if}}>{{localize "CONFIG.NAME_BASE_CHOICES.CREATURE"}}</option>
    <option value="rpCreatureType" {{#if (eq 'rpCreatureType' rpDefaultOptions.rpProperAi.rpNameBase)}}selected{{/if}}>{{localize "CONFIG.NAME_BASE_CHOICES.CREATURE_TYPE"}}</option>
    <option value="rpCreatureSubtype" {{#if (eq 'rpCreatureSubtype' rpDefaultOptions.rpProperAi.rpNameBase)}}selected{{/if}}>{{localize "CONFIG.NAME_BASE_CHOICES.CREATURE_SUBTYPE"}}</option>
    <option value="rpCustom" {{#if (eq 'rpCustom' rpDefaultOptions.rpProperAi.rpNameBase)}}selected{{/if}}>{{localize "CONFIG.NAME_BASE_CHOICES.CUSTOM"}}</option>
  </select>
  <div class="custom-select">
    <input type="text" name="rpCustomTyperpProperAi" class="rpCustomType" list="rpCustomTypeProperAiList" autocomplete="on" value="">
    <datalist id="rpCustomTypeProperAiList">
      {{#each (rpGetCustomTypes)}}
        <option value="{{this}}" {{#if (eq this ../rpDefaultOptions.rpProperAi.rpCustomType)}}selected{{/if}}>{{this}}</option>
      {{/each}}
    </datalist>
  </div>
</div>

<div class="form-group" title="{{localize 'CONFIG.NAME_FORMAT_HINT'}}">
  <label>{{localize "CONFIG.NAME_FORMAT"}}:</label>
  <div class="custom-select">
    <input type="text" name="rpNameFormatrpProperAi" class="rpNameFormat" autocomplete="on" value="{{rpDefaultOptions.rpProperAi.rpNameFormat}}">
  </div>
</div>
</div>

<div id="adjective-ai" {{#unless (eq rpDefaultOptions.rpNamingMethod 'rpAdjectiveAi')}}style="display: none;"{{/unless}}>
<div class="form-group" title="{{localize 'CONFIG.GENRE_HINT'}}">
  <label>{{localize "CONFIG.GENRE"}}:</label>
  <div class="custom-select">
    <input type="text" name="rpGenrerpAdjectiveAi" class="rpGenre" list="rpGenreAdjectiveAiList" autocomplete="on" value="{{rpDefaultOptions.rpAdjectiveAi.rpGenre}}">
    <datalist id="rpGenreAdjectiveAiList">
      {{#each (rpGetGenres)}}
        <option value="{{this.value}}">{{localize this.label}}</option>
      {{/each}}
    </datalist>
  </div>
</div>

<div class="form-group" title="{{localize 'CONFIG.LANGUAGE_HINT'}}">
  <label>{{localize "CONFIG.LANGUAGE"}}:</label>
  <div class="custom-select">
    <input type="text" name="rpLanguagerpAdjectiveAi" class="rpLanguage" list="rpLanguageAdjectiveAiList" autocomplete="on" value="{{rpDefaultOptions.rpAdjectiveAi.rpLanguage}}">
    <datalist id="rpLanguageAdjectiveAiList">
      {{#each (rpGetLanguages)}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </datalist>
  </div>
</div>

<div class="form-group" title="{{localize 'CONFIG.NAME_BASE_HINT'}}">
  <label>{{localize "CONFIG.NAME_BASE"}}:</label>
  <select name="rpNameBaserpAdjectiveAi">
    <option value="rpCreature" {{#if (eq 'rpCreature' rpDefaultOptions.rpAdjectiveAi.rpNameBase)}}selected{{/if}}>{{localize "CONFIG.NAME_BASE_CHOICES.CREATURE"}}</option>
    <option value="rpCreatureType" {{#if (eq 'rpCreatureType' rpDefaultOptions.rpAdjectiveAi.rpNameBase)}}selected{{/if}}>{{localize "CONFIG.NAME_BASE_CHOICES.CREATURE_TYPE"}}</option>
    <option value="rpCreatureSubtype" {{#if (eq 'rpCreatureSubtype' rpDefaultOptions.rpAdjectiveAi.rpNameBase)}}selected{{/if}}>{{localize "CONFIG.NAME_BASE_CHOICES.CREATURE_SUBTYPE"}}</option>
    <option value="rpCustom" {{#if (eq 'rpCustom' rpDefaultOptions.rpAdjectiveAi.rpNameBase)}}selected{{/if}}>{{localize "CONFIG.NAME_BASE_CHOICES.CUSTOM"}}</option>
  </select>
  <div class="custom-select">
    <input type="text" name="rpCustomTyperpAdjectiveAi" class="rpCustomType" list="rpCustomTypeAdjectiveAiList" autocomplete="on" value="">
    <datalist id="rpCustomTypeAdjectiveAiList">
      {{#each (rpGetCustomTypes)}}
        <option value="{{this}}" {{#if (eq this ../rpDefaultOptions.rpAdjectiveAi.rpCustomType)}}selected{{/if}}>{{this}}</option>
      {{/each}}
    </datalist>
  </div>
</div>

<div class="form-group" title="{{localize 'CONFIG.NAME_FORMAT_HINT'}}">
  <label>{{localize "CONFIG.NAME_FORMAT"}}:</label>
  <div class="custom-select">
    <input type="text" name="rpNameFormatrpAdjectiveAi" class="rpNameFormat" autocomplete="on" value="{{rpDefaultOptions.rpAdjectiveAi.rpNameFormat}}">
  </div>
</div>
</div>

<div id="proper" {{#unless (eq rpDefaultOptions.rpNamingMethod 'rpProper')}}style="display: none;"{{/unless}}>
<div class="form-group" title="{{localize 'CONFIG.NAME_BASE_HINT'}}">
  <label>{{localize "CONFIG.NAME_BASE"}}:</label>
  <select name="rpNameBaserpProper">
    <option value="rpCreature" {{#if (eq 'rpCreature' rpDefaultOptions.rpProper.rpNameBase)}}selected{{/if}}>{{localize "CONFIG.NAME_BASE_CHOICES.CREATURE"}}</option>
    <option value="rpCreatureType" {{#if (eq 'rpCreatureType' rpDefaultOptions.rpProper.rpNameBase)}}selected{{/if}}>{{localize "CONFIG.NAME_BASE_CHOICES.CREATURE_TYPE"}}</option>
    <option value="rpCreatureSubtype" {{#if (eq 'rpCreatureSubtype' rpDefaultOptions.rpProper.rpNameBase)}}selected{{/if}}>{{localize "CONFIG.NAME_BASE_CHOICES.CREATURE_SUBTYPE"}}</option>
    <option value="rpCustom" {{#if (eq 'rpCustom' rpDefaultOptions.rpProper.rpNameBase)}}selected{{/if}}>{{localize "CONFIG.NAME_BASE_CHOICES.CUSTOM"}}</option>
  </select>
  <div class="custom-select">
    <input type="text" name="rpCustomTyperpProper" class="rpCustomType" list="rpCustomTypeProperList" autocomplete="on" value="">
    <datalist id="rpCustomTypeProperList">
      {{#each (rpGetCustomTypes)}}
        <option value="{{this}}" {{#if (eq this ../rpDefaultOptions.rpProper.rpCustomType)}}selected{{/if}}>{{this}}</option>
      {{/each}}
    </datalist>
  </div>
</div>

<div class="form-group" title="{{localize 'CONFIG.NAME_FORMAT_HINT'}}">
  <label>{{localize "CONFIG.NAME_FORMAT"}}:</label>
  <div class="custom-select">
    <input type="text" name="rpNameFormatrpProper" class="rpNameFormat" autocomplete="on" value="{{rpDefaultOptions.rpProper.rpNameFormat}}">
  </div>
</div>
</div>

<div id="adjective" {{#unless (eq rpDefaultOptions.rpNamingMethod 'rpAdjective')}}style="display: none;"{{/unless}}>
<div class="form-group" title="{{localize 'CONFIG.NAME_BASE_HINT'}}">
  <label>{{localize "CONFIG.NAME_BASE"}}:</label>
  <select name="rpNameBaserpAdjective">
    <option value="rpCreature" {{#if (eq 'rpCreature' rpDefaultOptions.rpAdjective.rpNameBase)}}selected{{/if}}>{{localize "CONFIG.NAME_BASE_CHOICES.CREATURE"}}</option>
    <option value="rpCreatureType" {{#if (eq 'rpCreatureType' rpDefaultOptions.rpAdjective.rpNameBase)}}selected{{/if}}>{{localize "CONFIG.NAME_BASE_CHOICES.CREATURE_TYPE"}}</option>
    <option value="rpCreatureSubtype" {{#if (eq 'rpCreatureSubtype' rpDefaultOptions.rpAdjective.rpNameBase)}}selected{{/if}}>{{localize "CONFIG.NAME_BASE_CHOICES.CREATURE_SUBTYPE"}}</option>
    <option value="rpCustom" {{#if (eq 'rpCustom' rpDefaultOptions.rpAdjective.rpNameBase)}}selected{{/if}}>{{localize "CONFIG.NAME_BASE_CHOICES.CUSTOM"}}</option>
  </select>
  <div class="custom-select">
    <input type="text" name="rpCustomTyperpAdjective" class="rpCustomType" list="rpCustomTypeAdjectiveList" autocomplete="on" value="">
    <datalist id="rpCustomTypeAdjectiveList">
      {{#each (rpGetCustomTypes)}}
        <option value="{{this}}" {{#if (eq this ../rpDefaultOptions.rpAdjective.rpCustomType)}}selected{{/if}}>{{this}}</option>
      {{/each}}
    </datalist>
  </div>
</div>

<div class="form-group" title="{{localize 'CONFIG.NAME_FORMAT_HINT'}}">
  <label>{{localize "CONFIG.NAME_FORMAT"}}:</label>
  <div class="custom-select">
    <input type="text" name="rpNameFormatrpAdjective" class="rpNameFormat" autocomplete="on" value="{{rpDefaultOptions.rpAdjective.rpNameFormat}}">
  </div>
</div>
</div>

<div id="numbered" {{#unless (eq rpDefaultOptions.rpNamingMethod 'rpNumbered')}}style="display: none;"{{/unless}}>
<div class="form-group" title="{{localize 'CONFIG.NAME_BASE_HINT'}}">
  <label>{{localize "CONFIG.NAME_BASE"}}:</label>
  <select name="rpNameBaserpNumbered">
    <option value="rpCreature" {{#if (eq 'rpCreature' rpDefaultOptions.rpNumbered.rpNameBase)}}selected{{/if}}>{{localize "CONFIG.NAME_BASE_CHOICES.CREATURE"}}</option>
    <option value="rpCreatureType" {{#if (eq 'rpCreatureType' rpDefaultOptions.rpNumbered.rpNameBase)}}selected{{/if}}>{{localize "CONFIG.NAME_BASE_CHOICES.CREATURE_TYPE"}}</option>
    <option value="rpCreatureSubtype" {{#if (eq 'rpCreatureSubtype' rpDefaultOptions.rpNumbered.rpNameBase)}}selected{{/if}}>{{localize "CONFIG.NAME_BASE_CHOICES.CREATURE_SUBTYPE"}}</option>
    <option value="rpCustom" {{#if (eq 'rpCustom' rpDefaultOptions.rpNumbered.rpNameBase)}}selected{{/if}}>{{localize "CONFIG.NAME_BASE_CHOICES.CUSTOM"}}</option>
  </select>
  <div class="custom-select">
    <input type="text" name="rpCustomTyperpNumbered" class="rpCustomType" list="rpCustomTypeNumberedList" autocomplete="on" value="">
    <datalist id="rpCustomTypeNumberedList">
      {{#each (rpGetCustomTypes)}}
        <option value="{{this}}" {{#if (eq this ../rpDefaultOptions.rpNumbered.rpCustomType)}}selected{{/if}}>{{this}}</option>
      {{/each}}
    </datalist>
  </div>
</div>

<div class="form-group" title="{{localize 'CONFIG.NUMBER_FORMAT_HINT'}}">
  <label>{{localize "CONFIG.NUMBER_FORMAT"}}:</label>
  <div class="custom-select">
    <input type="text" name="rpNumberFormatrpNumbered" class="rpNumberFormat" list="rpNumberFormatNumberedList" autocomplete="on" value="{{rpDefaultOptions.rpNumbered.rpNumberFormat}}">
    <datalist id="rpNumberFormatNumberedList">
      <option value="number" {{#if (eq 'number' rpDefaultOptions.rpNumbered.rpNumberFormat)}}selected{{/if}}>{{localize "CONFIG.NUMBER_FORMAT_CHOICES.NUMBER"}}</option>
      <option value="roman" {{#if (eq 'roman' rpDefaultOptions.rpNumbered.rpNumberFormat)}}selected{{/if}}>{{localize "CONFIG.NUMBER_FORMAT_CHOICES.ROMAN"}}</option>
      <option value="letter" {{#if (eq 'letter' rpDefaultOptions.rpNumbered.rpNumberFormat)}}selected{{/if}}>{{localize "CONFIG.NUMBER_FORMAT_CHOICES.LETTER"}}</option>
    </datalist>
  </div>
</div>

<div class="form-group" title="{{localize 'CONFIG.NAME_FORMAT_HINT'}}">
  <label>{{localize "CONFIG.NAME_FORMAT"}}:</label>
  <div class="custom-select">
    <input type="text" name="rpNameFormatrpNumbered" class="rpNameFormat" autocomplete="on" value="{{rpDefaultOptions.rpNumbered.rpNameFormat}}">
  </div>
</div>
</div>

<div class="form-group" id="save-type-group" title="{{localize 'CONFIG.SAVE_TYPE_HINT'}}">
  <label>{{localize "CONFIG.SAVE_TYPE"}}:</label>
  <select name="rpSaveType">
    <option value="rpNoSave" selected>{{localize "CONFIG.SAVE_TYPE_CHOICES.DO_NOT_SAVE"}}</option>
    <option value="rpCreature">{{localize "CONFIG.SAVE_TYPE_CHOICES.SAVE_FOR_ACTOR"}}</option>
    <option value="rpCreatureSubtype">{{localize "CONFIG.SAVE_TYPE_CHOICES.SAVE_FOR_SUBTYPE"}}</option>
    <option value="rpCreatureType">{{localize "CONFIG.SAVE_TYPE_CHOICES.SAVE_FOR_TYPE"}}</option>
  </select>
</div>
</div>